{% extends 'index.html' %}

{% load bootstrap %}

{% block title %}Listagem de Computadores{% endblock %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Tipo</th>
                    <th>Colaborador</th>
                    <th>Estabelecimento</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Processador</th>
                    <th>Memoria</th>
                    <th>Armazenamento</th>
                    <th>Service Tag</th>
                    <th>Observações</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for computador in lista %}
                <tr>
                    <td>{{computador.tipo}}</td>
                    <td>{{computador.colaborador}}</td>
                    <td>{{computador.estabelecimento}}</td>
                    <td>{{computador.marca}}</td>
                    <td>{{computador.modelo}}</td>
                    <td>{{computador.processador}}</td>
                    <td>{{computador.memoria}}</td>
                    <td>{{computador.armazenamento}}</td>
                    <td>{{computador.service_tag}}</td>
                    <td>{{computador.observacao}}</td>
                    <td></td>
                    <td>
                        <a href="{% url 'editar_computador' pk=computador.pk %}">
                            <i class="far fa-edit"></i>
                        </a>

                        <a href="{% url 'remover_computador' pk=computador.pk %}">
                            <i class="far fa-trash-alt"></i>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="float-right">
            <h1>
                <a href="{% url 'cadastrar_computador' %}">
                    <i class="fas fa-plus"></i>
                </a>
            </h1>
        </div>


    </div>
{% endblock %}